                    * {
                        margin: 0%;
                        padding: 0%;
                    }
                    
                    h1 {
                        text-align: center;
                        clear: both;
                        border-bottom: solid 2px;
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 4vh;
                    }
                    
                    .papaicris {
                        height: 40vh;
                        width: 20vw;
                        margin: auto;
                        float: left;
                        border: transparent thin solid;
                        border-radius: 3vw;
                        padding-right: 3%;
                        padding-top: 1vh;
                        padding-bottom: 0.5vh;
                        padding-left: 2vh;
                        display: flex;
                    }
                    
                    p {
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 2vh;
                        padding-left: 1%;
                        padding-bottom: 3vh;
                    }
                    
                    h2 {
                        text-align: center;
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 3vh;
                        padding-top: 2vh;
                        padding-bottom: 2vh;
                    }
                    
                    h3 {
                        text-align: center;
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 3vh;
                        padding-bottom: 2vh;
                    }
                    
                    h4 {
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 3vh;
                        padding-top: 0.5vh;
                        padding-bottom: 0.5%;
                        padding-left: 1.5vh;
                    }
                    
                    ul li {
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 1.9vh;
                        margin-left: 4vh;
                        padding-left: 1vh;
                        padding-bottom: 0.5vh;
                    }
                    
                    .robozao {
                        display: block;
                        margin: 0px auto;
                        height: 300px;
                        border: transparent thin solid;
                        border-radius: 10px;
                        clear: both;
                        padding-top: 1%;
                        display: flex;
                    }
                    
                    h5 {
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 3vh;
                        padding-left: 1%;
                        padding-bottom: 1.5vh;
                    }
                    
                    footer {
                        border-top: solid 1px;
                        text-align: right;
                        font-family: Helvetica, Arial, sans-serif;
                        font-size: 1.5vh;
                        color: gray;
                    }
                    
                    @media (max-width:960px) {
                        .papaicris {
                            height: 35vh;
                            width: 35vw;
                        }
                    }